/* Your Website Styles */



body {
	color: #F2EFEF;
	background-color: #F2EFEF;
	margin: 2%;
}


h1	{
	font-family: 'Josefin Slab', serif;	
	color: #21262C;
	font-size: 2em;
	}
h2 {
	font-family: 'Josefin Slab', serif;
	color: #21262C;
	font-size: 1.5em;
	
}

h3 {
	font-family: 'Josefin Slab', serif;
	color: #21262C;
	font-size: 1.125em;
}

img {
	width: 550px;
	
}

a img {
	height: 20px;
	width: 20px;
}
p {
	font-size: .8em;
	width: 400px;
	text-align: justify;
	font-family: 'Lato', 'sans-serif';
	color: #21262C;
}

li {
	list-style: none;
	font-size: .8em;
	font-family: 'Lato', 'sans-serif';
	color: #21262C;
}

/* KOOPA */
#koopa .text {
position:relative;
bottom:20px;
left:0px;
visibility: hidden;
}

#koopa:hover .text {
visibility: visible;
background: #FC8935;
}

/* SATORI */
#satori .text {
position:relative;
bottom:23px;
left:0px;
visibility: hidden;
}

#satori:hover .text {
visibility: visible;
background: #FC8935;
}

/* ALBENI */
#albeni .text {
position:relative;
bottom:20px;
left:0px;
visibility: hidden;
}

#albeni:hover .text {
visibility: visible;
background: #FC8935;
}

/* CVI1 */
#cvi .text {
position:relative;
bottom:20px;
left:0px;
visibility: hidden;
}

#cvi:hover .text {
visibility: visible;
background: #FC8935;
}

/* CVI2 */
#cvi1 .text {
position:relative;
bottom:20px;
left:0px;
visibility: hidden;
}

#cvi1:hover .text {
visibility: visible;
background: #FC8935;
}

/* PERSONA */
#persona .text {
position:relative;
bottom: 20px;
left: 0px;
visibility: hidden;
}

#persona:hover .text {
visibility: visible;
background: #FC8935;
}

/* WEEK2 */
#week2 .text {
position:relative;
bottom:20px;
left:0px;
visibility: hidden;
}

#week2:hover .text {
visibility: visible;
background: #FC8935;
}

#future .text {
position:relative;
bottom:20px;
left:0px;
visibility: hidden;
}

#future:hover .text {
visibility: visible;
background: #FC8935;
}


.text {
	font-size: .7em;
	font-family: 'Lato', 'sans-serif';
	}


.info {
	float: right;
	display: inline;
}










@media screen {

/* =========
Desktop Styleing
========= */
@media screen and (max-width: 1000px) {

	body {
		
	}
}

/* =========
Tablet Styleing
========= */
@media screen and (max-width: 760px) {

	body {
		margin: 2%;
	}

	img {
		width: 50%;
	}

	p {
		width: 50%;
	}
	.text {
	font-size: .7em;
	font-family: 'Lato', 'sans-serif';
	}

}

/* =========
Mobile Styleing
========= */
@media screen and (max-width: 480px) {

	body {
		margin: 2%;
	}
	img {
		width: 25%;
	}
	p {
		width: 25%;
	}
	.text {
	font-size: .6em;
	font-family: 'Lato', 'sans-serif';
	}

}




















/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}
